In [13]:
import os
import csv
import dask.dataframe as dd
import pandas as pd
import glob

In [14]:
csv_file = 'GRTC Ridership ML.csv'
print(csv_file)

GRTC Ridership ML.csv

In [23]:
#read CSV file
df = pd.read_csv(csv_file,encoding="utf-8")
df.head()

,AVG_PASSENGERS_OFF,AVG_PASSENGERS_ON,AVG_PASSENGER_MILES,AVG_SEGMENT_MILES,SUM_PASSENGERS_OFF,SUM_PASSENGERS_ON,SUM_PASSENGER_MILES,TIME_PERIOD,TRIPS_COUNT,SERVICE_TYPE
0,0,0,NaN,0.361742,0,0,NaN,NaN,2,Local
1,0,0,NaN,NaN,0,1,NaN,NaN,2,Local
2,0,0,NaN,0.660227,0,0,NaN,NaN,2,Local
3,0,0,NaN,0.566098,0,0,NaN,NaN,2,Local
4,0,2,NaN,NaN,0,4,NaN,NaN,2,Local

In [24]:
df.count()

AVG_PASSENGERS_OFF     91477
AVG_PASSENGERS_ON      91477
AVG_PASSENGER_MILES    83042
AVG_SEGMENT_MILES      82515
SUM_PASSENGERS_OFF     91477
SUM_PASSENGERS_ON      91477
SUM_PASSENGER_MILES    83042
TIME_PERIOD            91393
TRIPS_COUNT            91477
SERVICE_TYPE           91477
dtype: int64

In [27]:
df = df.dropna(how='any')

In [28]:
df.count()

AVG_PASSENGERS_OFF     82459
AVG_PASSENGERS_ON      82459
AVG_PASSENGER_MILES    82459
AVG_SEGMENT_MILES      82459
SUM_PASSENGERS_OFF     82459
SUM_PASSENGERS_ON      82459
SUM_PASSENGER_MILES    82459
TIME_PERIOD            82459
TRIPS_COUNT            82459
SERVICE_TYPE           82459
dtype: int64

In [29]:
df.to_csv('GRTC Ridership ML Final.csv', index=False,header=True, encoding='utf-8')